server {
    server_name  www.tachitnow.com;
    return       301 http://tachitnow.com$request_uri;
}

server {
    root /var/www/Tachit/app/build/;

    index index.html index.htm index.nginx-debian.html;

    server_name tachitnow.com;

    location /api/ {
        proxy_pass http://localhost:6080/api/;
    }

    location / {
        try_files $uri /index.html;
    }
}