.header-section {
  padding: 10px;
  background-color: lightblue !important;

  .user-login-header {
    float: right;

    .header-logout {
      float: right;
      color: gray;
      cursor: pointer;
    }

    .header-logout:hover {
      color: black;
      text-decoration: underline;
    }
  }

  .home-button {
    float: left;
    margin-top: 8px;
    padding-left: 10px;
  }

  .notifications-unread {
    background-color: #d33223;
    color: #fffee5;
    margin-right: 10px;
    cursor: pointer;
  }

  .notifications-read {
    background-color: #a5a5a5;
    color: #fffee5;
    margin-right: 10px;
    cursor: pointer;
  }

  .user-login-header,
  .notifications-container-fb {
    .popover {
      height: 220px;
      overflow: scroll;
    }

    .popover-content {
      padding: 0;

      .container {
        padding: 0;
      }
    }

    .mark-notifications-read {
      position: absolute;
      right: 12px;
      top: 8px;
      cursor: pointer;
    }

    .notification-description-p {
      font-size: 13px;
      margin: 0;
    }

    .notification-row {
      padding: 0px 13px 0px 13px;
    }

    .unread {
      background-color: #f4d142;;
    }

    .notifications-list {
      margin: 0;
    }

    .fb-notifications-container {
      position: absolute;
      right: 200px;
      top: 14px;
    }
  }
}