$font-stack: Helvetica, sans-serif;
$default-font-size: 15px;
body{
	font-family: $font-stack;
}

.jumbotron {
  background-color:transparent !important;
}

.landing-page-content {
  width: 100% !important;
  background: white;

  .introduction-text {
    font-family: Helvetica,sans-serif;
    font-size: x-large;
  }
}