.link-body {

  padding: 25px;

  .mediaContainer {
    padding: 10px 50px 10px 50px;

    img, video, audio {
      width: 100%;
    }

    .location-tag {
      .location-icon {
        font-size: 24px;
      }

      .text {
        font-size: 18px;
      }
    }

    .text-block {
      border-radius: 25px;
      border: 2px solid #73AD21;
      padding: 20px;

      .text {
        font-size: 18px;
      }
    }
  }

  .row-full-height {
    height: 100%;
  }

  .col-full-height {
    height: 100%;
    vertical-align: middle;
  }

  .row-same-height {
    display: table;
    width: 100%;
    /* fix overflow */
    table-layout: fixed;
  }

  @media (min-width: 1200px) {
    .col-lg-height {
      display: table-cell;
      float: none !important;
    }
  }
}