<footer class="main-page-footer">
  <div class="container">
    <div class="col-md-4">
      <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </div>
    <div class="col-md-4" style="text-align: center;">
      <p>MADE WITH LOVE IN NYC</p>
    </div>
    <div class="col-md-4">
      <p class="pull-right">
        <a class="heap-analytics-badge" href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="//heapanalytics.com/img/badge.png" alt="Heap - iOS and Web Analytics" /></a>
        <a href="#">Back to top</a>
      </p>
    </div>

  </div>
</footer>