<div class="container single-question">
    <div class="col-md-12">
    {{#post}}
        <div class="question-title">
            <h2>{{title}}</h2>
        </div>
        <div class="jumbotron">
            <div class="row">
                <div class="row col-md-11">
                    <p class="question-description">{{description}}</p>
                    {{#User}}
                        <label>
                            <small class="text-muted time-difference-text">Asked by </small><a href="#user/{{id}}">{{name}}</a>
                        </label>
                    {{/User}}
                </div>
            </div>

            <div class="list-group comments-list-on-post">
            {{#postComments}}
                <div class="list-group-item flex-column align-items-start comment-row">
                    <div class="row">
                        <p class="comment-on-post-description">{{description}}</p>
                    </div>
                    <div class="row">
                    {{#User}}
                        <label><a href="#user/{{id}}">{{name}}</a> <small class="text-muted time-difference-text">commented {{createdTimeDifference}}</small></label>
                    {{/User}}
                    </div>
                </div>
            {{/postComments}}
            </div>
        </div>
        <br>
    {{/post}}

    {{#answer}}
        <h2>Edit your answer</h2>
        <form class="answer-create-edit-form">
            <div class="form-group answer-description-form-group">
                <label>Description</label>
                <textarea class="form-control answer-description" rows="5">{{description}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary post-answer">Update Answer</button>
        </form>
    {{/answer}}
    </div>
</div>