<div class="container single-question">
    <div class="col-md-12">
    {{#post}}
        <h2>Edit the question</h2>
        <form class="question-create-edit-form">
            <div class="form-group question-title-form-group">
                <label>Title</label>
                <input class="form-control question-title" placeholder="Enter title" value="{{title}}">
                <small class="form-text text-muted">Provide a condensed summary of your question</small>
            </div>
            <div class="form-group question-description-form-group">
                <label>Question</label>
                <textarea class="form-control question-description" rows="5">{{description}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary post-question">Post Question</button>
        </form>
    {{/post}}

    {{^post}}
        <h2>Ask Question</h2>
        <form class="question-create-edit-form">
            <div class="form-group question-title-form-group">
                <label>Title</label>
                <input class="form-control question-title" placeholder="Enter title">
                <small class="form-text text-muted">Provide a condensed summary of your question</small>
            </div>
            <div class="form-group question-description-form-group">
                <label>Question</label>
                <textarea class="form-control question-description" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary post-question">Post Question</button>
        </form>
    {{/post}}
    </div>
</div>