<div class="container">
    <div class="col-md-12">
        <div class="row">
            <h2 style="float:left;">Questions</h2>
            <div class="btn-group filtering-questions-container" data-toggle="buttons">
                <label class="btn btn-success my-questions-only {{#asked_by}}active{{/asked_by}}">
                    <input type="checkbox">Only My Questions</input>
                </label>
            </div>
        </div>
        <div class="list-group questions-list">
            {{#questions}}
            <a href="#question/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row">
                    <h5 class="question-list-title col-md-10">{{title}}</h5>
                    <div class="question-meta col-md-2">
                        <div class="question-list-badges">
                            <span class="badge badge-pill badge-primary">{{upVoteTotal}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
                            <span class="badge badge-pill badge-success">{{numberOfAnswers}} <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
                            <span class="badge badge-pill badge-default">{{numberOfComments}} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="question-description">{{description}}</p>
                </div>
                <div class="row">
                {{#User}}
                    <small class="text-muted time-difference-text">{{username}} asked {{createdTimeDifference}}</small>
                {{/User}}
                </div>
            </a>
            {{/questions}}
        </div>

        <div class="page-footer text-center">
            <nav>
                <ul class="pagination">
                    {{#prevArrow}} {{#state}}
                    <li class="page-item">
                        <a class="page-link" href="#questions?page={{link}}{{#asked_by}}&asked_by={{asked_by}}{{/asked_by}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {{/state}} {{/prevArrow}} {{#pageNumbers}}
                    <li class="page-item {{#active}}active{{/active}}"><a class="page-link" href="#questions?page={{num}}{{#asked_by}}&asked_by={{asked_by}}{{/asked_by}}">{{num}}</a></li>
                    {{/pageNumbers}} {{#nextArrow}} {{#state}}
                    <li class="page-item">
                        <a class="page-link" href="#questions?page={{link}}{{#asked_by}}&asked_by={{asked_by}}{{/asked_by}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {{/state}} {{/nextArrow}}
                </ul>
            </nav>
        </div>
    </div>
</div>