<div class="jumbotron main-jumbotron">
    <div class="container">
        <div class="row jumbo-row">
            <div class="col-md-6 banner-row">
                <div class="banner-container">
                     <img src="../imgs/TachitBanner.png" class="tachit-logo-banner"></img>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar-wrapper">
    <nav class="navbar navbar-static-top">
         
        <div class="container-fluid">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="col-sm-7 pull-right">
                    <ul class="nav navbar-nav pull-right">
                        <li><a class="twitter" href="#"></a></li>
                        <li><a class="facebook" href="#"></a></li>
                        <li><a class="instagram" href="#"></a></li>
                        <li><a class="menu" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>

</div>