<div class="jumbotron header-section">
    <div class="container">
        <div class="row jumbo-row">
            <div class="home-button">
                <a href="#">Home</a>
            </div>

            <div class="home-button">
                <a href="#questions">Questions</a>
            </div>

            <div class="home-button">
                <a href="#question/create">Ask Question</a>
            </div>
            
            <div class="user-login-header">
                {{#authenticated}}
                    {{#user}}
                    <span><a href="#user/{{username}}">{{username}}</a></span>
                    {{/user}}
                    <br>
                    <span class="header-logout">Log out</span>
                {{/authenticated}}
                {{^authenticated}}
                    <a href="#login">Log in</a><br>
                    <a href="#user/create">New user</a>
                {{/authenticated}}
            </div>
        </div>
    </div>
</div>